.expenseDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px 16px;
}

.alignCenter {
  text-align: center;
}

.addExpenseBtnContainer {
  text-align: right;
  margin-bottom: 24px;
}

.expenseDetailsInfo {
  margin-bottom: 24px;
}
