.layoutContainer {
  display: flex;
  min-height: 100vh;
}

.sideBarGutter {
  margin-top: 84px;
}

.rightPanel {
  flex: 1;
  background-color: #ececec;
}

.contentContainer {
  padding: 24px;
  min-height: 360px;
  margin: 40px auto 40px;
  max-width: 800px;
}
