.formContainer {
  background-color: #ececec;
  min-height: 100vh;
  padding: 24px 16px;
}

.formContainer > .card {
  max-width: 400px;
  margin: auto;
}

.btnCta {
  margin-top: 16px;
}

.helperText {
  text-align: center;
}
